/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require main
*= require mobile
*= require_self
*/
#logo{
    width: 75px;
    height: 75px;
}

#name_user{
    float: right;
}

/* unvisited link */
a:link {
    text-decoration:none
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: springgreen;
}

/* selected link */
a:active {
    color: black;
}